<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>JARVIS Chatbot</title>
</head>
<body>


<div class="background-container">
    <img src="C:\Users\aksha\PycharmProjects\pythonProject\templates\Jaaru.jpg" alt="Background Image">
	
	<h1 class="jarvis-heading">JARVIS</h1>
    <div class="scrolling-text-container">
        <p class="scrolling-text">Crafting Your Academic Symphony</p>
    </div>
    <div class="start-chat-container">
        <a href="http://localhost:5050" class="start-chat-button">Start Chat</a>
    </div>
</div>

</body>
</html>
